/*
	@name iphone_14___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 390px; width: 390px; height: 842px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__iphone_14___1 {
	top: 0px;
	left: 0px;
	width: 390px;
	height: 842px;
	background:rgba(255,255,255,1);
}


#vector_4 {
	top: 316px;
	left: 34px;
	width: 336px;
	height: 0px;
}


#_30_min_______bpm_120_166_______ {
	top: 166px;
	left: 124px;
	width: 244px;
	height: 57px;
	overflow: hidden;
	font-family: Permanent Marker;
	font-size: 12px;
	text-align: left;
	color:#000000;
}


#______my_music {
	top: 433px;
	left: 26px;
	width: 187px;
	height: 43px;
	overflow: hidden;
	font-family: Permanent Marker;
	font-size: 14px;
	text-align: left;
	color:#000000;
}

#rectangle_10 {
	top: 151px;
	left: 22px;
	width: 74.68px;
	height: 74.68px;
}

#rectangle_9 {
	top: 1.33px;
	left: 1.26px;
	width: 72px;
	height: 72px;
}


#_40_min______bpm_143_155_______ {
	top: 251px;
	left: 123px;
	width: 244px;
	height: 57px;
	overflow: hidden;
	font-family: Permanent Marker;
	font-size: 12px;
	text-align: left;
	color:#000000;
}

#rectangle_11 {
	top: 239px;
	left: 21px;
	width: 74.68px;
	height: 74.68px;
}

#rectangle_9_ek1 {
	top: 1.33px;
	left: 1.26px;
	width: 72px;
	height: 72px;
}


#_60_min______bpm_150_163__________ {
	top: 339px;
	left: 123px;
	width: 244px;
	height: 57px;
	overflow: hidden;
	font-family: Permanent Marker;
	font-size: 12px;
	text-align: left;
	color:#000000;
}

#rectangle_12 {
	top: 327px;
	left: 21px;
	width: 74.68px;
	height: 74.68px;
}

#rectangle_9_ek2 {
	top: 1.33px;
	left: 1.26px;
	width: 72px;
	height: 72px;
}


#_40_min______bpm_143_155________ {
	top: 251px;
	left: 123px;
	width: 244px;
	height: 57px;
	overflow: hidden;
	font-family: Permanent Marker;
	font-size: 12px;
	text-align: left;
	color:#000000;
}


#vector_6 {
	top: 409px;
	left: 26px;
	width: 336px;
	height: 0px;
}


#vector_7 {
	top: 779px;
	left: 29px;
	width: 336px;
	height: 0px;
}


#vector_4_ek1 {
	top: 231px;
	left: 26px;
	width: 336px;
	height: 0px;
}

#rectangle_9_ek3 {
	top: 151px;
	left: 22px;
	width: 74.68px;
	height: 74.68px;
}

#rectangle_9_ek4 {
	top: 1.33px;
	left: 1.26px;
	width: 72px;
	height: 72px;
}


#______events {
	top: 110px;
	left: 20px;
	width: 187px;
	height: 43px;
	overflow: hidden;
	font-family: Permanent Marker;
	font-size: 14px;
	text-align: left;
	color:#000000;
}


#rectangle_15 {
	top: 468px;
	left: 22px;
	width: 337px;
	height: 195px;
}


#lorem_ipsum_dolor_sit_amet_consectetur__egestas_ultrices_a_morbi_leo_gravida_potenti_cursus__diam_malesuada_fames_a_enim_eget_sem_massa_dui_congue__ac_amet_nullam_pellentesque_ {
	top: 688px;
	left: 29px;
	width: 357px;
	height: 99px;
	overflow: hidden;
	font-family: Permanent Marker;
	font-size: 12px;
	text-align: left;
	color:#000000;
}


#rectangle_1 {
	opacity:0.5;
	top: 0px;
	left: 0px;
	width: 392px;
	height: 87px;
	border: 1px solid #b3b2b2;
	background:rgba(255,255,255,0.5);
}


#mgiap________1__1 {
	top: 42px;
	left: 148px;
	width: 95px;
	height: 39.51px;
}

#menu {
	top: 49px;
	left: 26px;
	width: 24px;
	height: 24px;
}

#vector {
	top: 6px;
	left: 3px;
	width: 18px;
	height: 0px;
}


#vector_ek1 {
	top: 12px;
	left: 3px;
	width: 18px;
	height: 0px;
}


#vector_ek2 {
	top: 18px;
	left: 3px;
	width: 18px;
	height: 0px;
}


#vector_ek3 {
	top: 3px;
	left: 3px;
	width: 16px;
	height: 16px;
}


#vector_ek4 {
	top: 16.65px;
	left: 16.65px;
	width: 4.35px;
	height: 4.35px;
}



/* Add your custom CSS here */
