<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
</head>

<style>

#xypad{
  /*
  background-image: linear-gradient(red, yellow,blue,green);
*/
  background: linear-gradient(to top left, white, rgba(255, 153, 150, 0), red), linear-gradient(to top right, yellow, rgba(255, 153, 150, 0), magenta) rgba(255, 153, 150, 1);
}


</style>



<body>


            <div style="float:left;width:200px;padding:30px">
                <div style="margin-bottom:10px">XY</div>
                  <div id="xypad">
                      <fieldset class="pad" data-width="180" data-height="180">
                          <legend>XY Pad</legend>
                          x : <input name="x" value=27>
                          y : <input name="y" value=80>
                      </fieldset>

                  </div>
            </div>


</body>
</html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.kontrol.js') }}"></script>
<script>


                var $pad = $(".pad")
                            .xy({

                                    displayPrevious:false
                                    , min : -100
                                    , max : 100
                                    , fgColor:"#222222"
                                    , bgColor:"#EEEEEE"
                                    , change : function (value){


                                    const request = new XMLHttpRequest();

                                    pos = {'x':value[0],'y':value[1]};



                                    request.open('POST',`/send/${JSON.stringify(pos)}`);
                                    request.send();

                                        console.log('x:' + value[0]);
                                        console.log('y:' + value[1]);

                                    }

                                    

                                }
                                
                                
                                );



  // use document.getElementById('id').innerHTML = 'text' to change text in a paragraph, for example.

var slider = {
  
  get_position: function() {
    var marker_pos = $('#marker').position();
    var left_pos = marker_pos.left + slider.marker_size / 2;
    var top_pos = marker_pos.top + slider.marker_size / 2;
    
    slider.position = {
      left: left_pos,
      top: top_pos,
      x: Math.round(slider.round_factor.x * (left_pos * slider.xmax / slider.width)) / slider.round_factor.x,
      y: Math.round((slider.round_factor.y * (slider.height - top_pos) * slider.ymax / slider.height)) / slider.round_factor.y,
    };

  },
  
  display_position: function() {
    document.getElementById("coord").innerHTML = 'x: ' + slider.position.x.toString() + '<br> y: ' + slider.position.y.toString();
  },
  
  draw: function(x_size, y_size, xmax, ymax, marker_size, round_to) {
    
    if ((x_size === undefined) && (y_size === undefined) && (xmax === undefined) && (ymax === undefined) && (marker_size === undefined) && (round_to === undefined)) {
      x_size = 150;
      y_size = 150;
      xmax = 1;
      ymax = 1;
      marker_size = 20;
      round_to = 2;
    };
    
    slider.marker_size = marker_size;
    slider.height = y_size;
    slider.width = x_size;
    slider.xmax = xmax;
    slider.ymax = ymax;
    round_to = Math.pow(10, round_to);
    slider.round_factor = {
      x: round_to,
      y: round_to,
    };
    
    $("#markerbounds").css({
      "width": (x_size + marker_size).toString() + 'px',
      "height": (y_size + marker_size).toString() + 'px',
    });
    $("#box").css({
      "width": x_size.toString() + 'px',
      "height": y_size.toString() + 'px',
      "top": marker_size / 2,
      "left": marker_size / 2,
    });
    $("#marker").css({
      "width": marker_size.toString() + 'px',
      "height": marker_size.toString() + 'px',
    });

    $("#coord").css({
      "top": x_size + marker_size / 2
    });
    
    $("#widget").css({
      "width": (x_size + marker_size).toString() + 'px',
    });
    
    slider.get_position();
    slider.display_position();
    
  },
  
};

$("#marker").draggable({ 
  containment: "#markerbounds",
  drag: function() {
    slider.get_position();
    slider.display_position();
  },
});

//syntax for rendering is:
//  slider.render(width, height, width-range, height-range, marker size, output decimal places)

slider.draw(150,150,1,1,20,2);

// check to make sure the defaults work:
//slider.draw();
  </script>