/*
	@name iphone_14___2
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 390px; width: 390px; height: 1284px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__iphone_14___2 {
	top: 0px;
	left: 0px;
	width: 390px;
	height: 1284px;
	background:rgba(255,255,255,1);
}


#rectangle_2 {
	top: 129px;
	left: 22px;
	width: 337px;
	height: 195px;
}


#rectangle_14 {
	top: 441px;
	left: 27px;
	width: 337px;
	height: 195px;
}


#lorem_ipsum_dolor_sit_amet_consectetur__egestas_ultrices_a_morbi_leo_gravida_potenti_cursus__diam_malesuada_fames_a_enim_eget_sem_massa_dui_congue__ac_amet_nullam_pellentesque_ {
	top: 352px;
	left: 25px;
	width: 357px;
	height: 99px;
	overflow: hidden;
	font-family: Permanent Marker;
	font-size: 12px;
	text-align: left;
	color:#000000;
}


#lorem_ipsum_dolor_sit_amet_consectetur__egestas_ultrices_a_morbi_leo_gravida_potenti_cursus__diam_malesuada_fames_a_enim_eget_sem_massa_dui_congue__ac_amet_nullam_pellentesque__ek1 {
	top: 664px;
	left: 35px;
	width: 357px;
	height: 99px;
	overflow: hidden;
	font-family: Permanent Marker;
	font-size: 12px;
	text-align: left;
	color:#000000;
}


#lorem_ipsum_dolor_sit_amet_consectetur__egestas_ultrices_a_morbi_leo_gravida_potenti_cursus__diam_malesuada_fames_a_enim_eget_sem_massa_dui_congue__ac_amet_nullam_pellentesque__ek2 {
	top: 1108px;
	left: 32px;
	width: 357px;
	height: 99px;
	overflow: hidden;
	font-family: Permanent Marker;
	font-size: 12px;
	text-align: left;
	color:#000000;
}

#frame_2 {
	top: 812px;
	left: 25px;
	width: 343px;
	height: 268px;
}

#rectangle_5 {
	top: 0px;
	left: 0px;
	width: 343px;
	height: 268px;
}


#rectangle_6 {
	top: 0px;
	left: 359px;
	width: 343px;
	height: 268px;
}


#rectangle_7 {
	top: 0px;
	left: 718px;
	width: 343px;
	height: 268px;
}


#rectangle_8 {
	top: 0px;
	left: 1077px;
	width: 343px;
	height: 268px;
}


#______designers {
	top: 768px;
	left: 32px;
	width: 187px;
	height: 43px;
	overflow: hidden;
	font-family: Permanent Marker;
	font-size: 14px;
	text-align: left;
	color:#000000;
}


#______my_music {
	top: 105px;
	left: 22px;
	width: 187px;
	height: 43px;
	overflow: hidden;
	font-family: Permanent Marker;
	font-size: 14px;
	text-align: left;
	color:#000000;
}


#rectangle_13 {
	opacity:0.5;
	top: 0px;
	left: 0px;
	width: 392px;
	height: 87px;
	border: 1px solid #b3b2b2;
	background:rgba(255,255,255,0.5);
}


#mgiap________1__2 {
	top: 42px;
	left: 148px;
	width: 95px;
	height: 39.51px;
}

#menu {
	top: 49px;
	left: 26px;
	width: 24px;
	height: 24px;
}

#vector {
	top: 6px;
	left: 3px;
	width: 18px;
	height: 0px;
}


#vector_ek1 {
	top: 12px;
	left: 3px;
	width: 18px;
	height: 0px;
}


#vector_ek2 {
	top: 18px;
	left: 3px;
	width: 18px;
	height: 0px;
}


#vector_ek3 {
	top: 3px;
	left: 3px;
	width: 16px;
	height: 16px;
}


#vector_ek4 {
	top: 16.65px;
	left: 16.65px;
	width: 4.35px;
	height: 4.35px;
}



/* Add your custom CSS here */
